# TV Configuration
TV_IP=192.168.0.95
TV_MAC=E0:51:63:73:A7:EF
TV_KEY=37d740c0a72c6498ff95b93e2fcc7d80

# My PC Configuration (Wake-on-LAN)
MY_PC_IP=192.168.0.83
MY_PC_MAC=1C:BF:CE:E9:5D:C1

# Dad PC Configuration (Wake-on-LAN)
DAD_PC_IP=192.168.0.44
DAD_PC_MAC=00:A5:54:56:54:91
